---
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/editorconfig-checker/editorconfig-checker
    rev: v3.4.0
    hooks:
      - id: editorconfig-checker

  - repo: local
    hooks:
      - id: trivy-fs
        name: Trivy filesystem scan
        entry: trivy
        args: [fs, .]
        language: system
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen

  - repo: local
    hooks:
      - id: vale sync
        name: Vale sync
        entry: bash -c 'test -d .vale/Google || vale sync'
        language: system

  - repo: https://github.com/errata-ai/vale
    rev: v3.13.0
    hooks:
      - id: vale

  - repo: local
    hooks:
      - id: jsonlint
        name: JSON Lint
        entry: jsonlint -M json5
        language: system
        files: \.json$

  - repo: local
    hooks:
      - id: renovate-config-validator
        name: Validate Renovate Config
        entry: renovate-config-validator
        language: system
        files: '(^|/).?renovate(?:rc)?(?:\.json5?)?$'

  - repo: https://github.com/instrumentl/pre-commit-just
    rev: v0.1
    hooks:
      - id: format-justfile

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.19.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint
