[settings]
experimental = true
npm.package_manager = "pnpm"

[env]
_.source = [".mise/set_node_path_var.sh"]

[tools]
uv = "0.9.26"
node = "24.13.0"
pnpm = "10.28.1"
markdownlint-cli2 = "0.20.0"
editorconfig-checker = "3.6.0"
hadolint = "2.14.0"
jq = "1.8.1"
jujutsu = "0.33.0"
just = "1.46.0"
trivy = "0.69.0"
vale = "3.13.0"
yamllint = "1.38.0"
taplo = "0.10.0"
"pipx:pre-commit" = "4.5.1"
"npm:@prantlf/jsonlint" = "17.0.1"
"npm:renovate" = "43.3.0"
"npm:semantic-release" = "25.0.2"
"npm:@semantic-release-plus/docker" = "3.1.3"
"npm:@semantic-release/changelog" = "6.0.3"
"npm:@semantic-release/exec" = "7.1.0"
"npm:@semantic-release/git" = "10.0.1"
shfmt = "3.12.0"
shellcheck = "0.11.0"
podman = "5.7.1"

[hooks]
preinstall = '''
export MISE_NO_ENV=1
export MISE_NO_HOOKS=1
mise install node pnpm uv jq
'''
