[settings]
experimental = true

[[env]]
_.path = ".mise/node_modules/.bin"

[tools.node]
version = "22.21.1"
[tools.markdownlint-cli2]
version = "0.20.0"
[tools.editorconfig-checker]
version = "3.6.0"
[tools.hadolint]
version = "2.14.0"
[tools.jujutsu]
version = "0.33.0"
[tools.just]
version = "1.45.0"
[tools.neovim]
version = "0.11.5"
[tools.trivy]
version = "0.67.2"
[tools.vale]
version = "3.13.0"
[tools.yamllint]
version = "1.37.1"
[tools.uv]
version = "0.9.18"
[tools.python]
version = "3.12"
[tools.taplo]
version = "0.10.0"
[tools.podman]
version = "5.7.1"
[tools.pre-commit]
version = "4.5.1"

[hooks]
postinstall = '''
if [ "$MISE_TOOL_NAME" = "node" ]; then
  echo "Node.js $MISE_TOOL_VERSION installed, installing node based dependencies..."
  export PATH=${HOME}/.local/share/mise/installs/node/$MISE_TOOL_VERSION/bin:$PATH
  npm install --no-package-lock --prefix .mise
fi
'''

[tasks.setup]
run = ["mise install"]

[tasks.clean]
run = [
  "mise uninstall --all",
  "rm -rf .vale/.vale-config .vale/Google .mise/node_modules",
]
