[settings]
experimental = true
npm.package_manager = "pnpm"

[env]
_.source = { path = ".mise/set_node_path_var.sh" }

[tools.node]
version = "latest"

[tools.pnpm]
version = "latest"

[tools.markdownlint-cli2]
version = "0.20.0"

[tools.editorconfig-checker]
version = "3.6.0"

[tools.hadolint]
version = "2.14.0"

[tools.jujutsu]
version = "0.33.0"

[tools.just]
version = "1.46.0"

[tools.neovim]
version = "0.11.5"

[tools.trivy]
version = "0.68.2"

[tools.vale]
version = "3.13.0"

[tools.yamllint]
version = "1.38.0"

[tools.taplo]
version = "0.10.0"

[tools.podman]
version = "5.7.1"

[tools."pipx:pre-commit"]
version = "4.5.1"

[tools."npm:@prantlf/jsonlint"]
version = "17.0.0"

[tools."npm:renovate"]
version = "42.83.2"

[tools."npm:semantic-release"]
version = "25.0.2"

[tools."npm:@semantic-release-plus/docker"]
version = "3.1.3"

[tools."npm:@semantic-release/changelog"]
version = "6.0.3"

[tools."npm:@semantic-release/exec"]
version = "7.1.0"

[tools."npm:@semantic-release/git"]
version = "10.0.1"

[tools.shfmt]
version = "3.12.0"

[tools.shellcheck]
version = "0.11.0"
