---
name: Release

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      actions: read
      security-events: write
    env:
      DOCKER_USERNAME: ${{ github.actor }}
      DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{ steps.generate-token.outputs.token }}
      - name: Setup mise
        uses: jdx/mise-action@v3
        with:
          install: false
          working_directory: /
          env: false
      - name: Install base dependencies
        run: |
          mise --no-config use -g node@24.12.0
          mise --no-config use -g pnpm@10.26.2
          mise --no-config use -g uv@0.9.18
          mise --no-config use -g jq@latest
      - name: Configure git
        run: |
          git config --global --add safe.directory '*'
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
      - name: Perform release
        id: release
        run: |
          just release
          echo "sarif=/tmp/trivy-results.sarif" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
      - name: Upload Anchore Scan SARIF Report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.release.outputs.sarif }}
